{% load static %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Management{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style-forms.css' %}">
</head>
<body>
    <header>
    <nav class="navbar">
        <a href="{% url 'index' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        {% if request.resolver_match.url_name in 'review' or request.resolver_match.url_name in 'single_review' %}
            <a href="{% url 'review_list' %}">Reviews</a>
        {% endif %}
    </nav>
    </header>
    <div class="background-image"></div> 
    
    <div class="content-container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>