{% extends "users/base_users.html.html" %}

{% block content %}
  <h1>{{ review.title }}</h1>
  <p>{{ review.content }}</p>
  <p>Rating: {{ review.rating }}</p>
  <p>By: {{ review.user.username }}</p>
  <form method="post" action="{% url 'add_favorite' %}">
    {% csrf_token %}
    <input type="hidden" name="review_id" value="{{ review.id }}">
    <button type="submit">Add to Favorites</button>
  </form>
  {% if is_favorite %}
    <p>This is your favorite review!</p>
  {% endif %}
{% endblock %}