{% extends 'game/base.html' %}
{% load static %}

{% block title %}Leaderboard - Baltito Game{% endblock %}

{% block content %}
<h1>LEADERBOARD OF BALTITO JUMPS</h1>
<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Score</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td>{{ score.user.user.username }}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.played_date|date:"F j" }}</td>        
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No scores yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

   <a href="{% url 'review' %}" class="btn">Write a Review</a>

{% endblock %}
