{% extends 'game/base.html' %}
{% load static %}

{% block title %}Leaderboard - Baltito Game{% endblock %}

{% block content %}
<h1>LEADERBOARD OF BALTITO JUMPS</h1>
<table>
    <thead>
        <tr>
            <th>POSITION</th>
            <th>PLAYER</th>
            <th>SCORE</th>
            <th>DATE</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td>{{ score.user.user.username }}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.played_date|date:"F j" }}</td>        
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No scores yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="review-container">
      <button>
    <a href="{% url 'review' %}">
Write a Review
</a>
</button>

<button>
<a href="{% url 'review_list' %}">View Reviews
</a>
</button>
</div>

{% endblock %}
