
{% extends 'game/base.html' %}{% load static %}
 {% block title %}Team - Baltito Game{% endblock %} {% block content %}
<h1>MEET THE TEAM</h1>

<br />
<div id="text">
<p>
  <strong>Raquel Torres Martínez <em>— Myself</em></strong><br />
  &emsp;&emsp;As the developer and visionary behind <em>Baltito Game</em>, I bring the
  creative passion, technical skills, and dedication to bring this unique
  psychological adventure to life. My deep connection to the wilderness and a
  desire to explore the emotional world of animals fuel the heart of the game.
</p>

<br /><br><br>
</div>
<div id="text">
<p>
  <strong>Balto <em>— The Inspiration</em></strong><br />
  &emsp;&emsp;Balto, my loyal companion and muse, is more than just a dog, he’s the soul of
  the game. His curiosity, bravery, and love of nature inspire every moment of
  <em>Baltito Game</em>. By watching him explore the world, I've created an
  emotional, immersive journey that mirrors his spirit. Together, me and Balto
  are crafting a narrative that celebrates the connection between humans,
  animals, and the wild.
</p></div>
<img
  src="{% static 'img/Balto.jpg' %}"
  alt="Baltito el original"
  height="600px"
  class="balto-responsive"
  id="img-border"
/>
{% endblock %}
