
{% extends 'game/base.html' %}{% load static %}


{% block title %}Trailer - Baltito Game{% endblock %}

{% block content %}
<h1>GAME TRAILER</h1>
<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/YtPmIBqRwQU?si=aZPNLVtzHY3G51yP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p class="p-center">Check out the trailer for Baltito Game, a fun and heartwarming adventure!</p>
{% endblock %}