{% extends 'game/base.html' %}
{% load static %}

{% block title %}Updates - Baltito Game{% endblock %} 

{% block content %}
<h1>LATEST UPDATES</h1>

{% for update in updates %}
<div class="card">
    <h2>{{ update.title }}</h2>
    <p><strong>{{ update.date }}</strong></p>
    <p>{{ update.content }}</p>
    {% if update.image %}
    <img src="{{ update.image.url }}" alt="{{ update.title }}" class="balto-responsive" id="img-border">
    {% endif %}
</div>
{% endfor %}
<div class="end-message">
<br>
    <p>You've reached the end of the updates. Stay tuned for more news coming your way soon! 
        <br>In the meantime, don’t forget to check back regularly for the latest updates and exciting announcements. We’re always working on bringing you fresh content, important news, and exclusive insights. Follow us on social media and subscribe to our newsletter to stay informed. 
        <br>Thanks for being part of our community—we appreciate your support, and we can’t wait to share what’s next!</p><br><br>
    <img src="{% static 'img/game/baltoJumps.png' %}" alt="Baltito el original" height="300px" > <br>
    <img src="{% static 'img/game/flower.png' %}" alt="Baltito el original" height="300px"  >

</div>

{% endblock %}